body
    background: var(--bg-color)

.container
    position: relative
    width: 1140px
    margin: 0 auto
    
.main
    position: relative  
    width: 1140px
    margin: 45px auto
    padding: 3px
    height: 1000px
    background: linear-gradient(270deg, var(--gradient-one) 0%, var(--gradient-two) 100%)

.section
    &.news
        &__main
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-auto-rows: 350px
            grid-gap: 3px
@media screen and ( max-width:  1140px)
    .container
        width: 100%
    .main
        width: 100%
        margin: 67px 0
        
    