/*Normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Variables */
:root {
  --bg-color: #000000;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #000000;
  --accent-color: #FF017B;
  --gradient-one: #E5127D;
  --gradient-two: #F7C626;
}

/* Fonts */
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold Italic';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed Italic';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto/Roboto-light.eot");
  src: url("../fonts/Roboto/Roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-light.woff") format("woff"), url("../fonts/Roboto/Roboto-light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
body {
  background: var(--bg-color);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 95%;
  }
}

/* Header styles */
.header {
  position: relative;
}

.header__main {
  height: 305px;
  padding: 20px 0 0 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
}

.header__img {
  max-width: 100%;
}

.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-style: 18px;
  text-transform: uppercase;
  letter-spacing: 0.175em;
}

.header__text {
  position: relative;
  margin: 0 0 0 10px;
}

.header__text::before {
  content: '|';
}

.header__text::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: -15px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

/* Navigation styles */
.nav__header {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav__main {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list li {
  position: relative;
  margin: 0 22px;
}

.nav__list li a {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed Regular', sans-serif;
  letter-spacing: 0.105em;
}

.nav__list li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav__list li:hover a, .nav__list li.current-menu-item a {
  color: var(--accent-color);
}
/*# sourceMappingURL=style.css.map */