/*Normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Variables */
:root {
  --bg-color: #000000;
  --secondary-bg-color: #FFFFFF;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #000000;
  --accent-color: #FF017B;
  --gradient-one: #E5127D;
  --gradient-two: #F7C626;
  --decor: #787878;
  --decor-light: #C4C4C4;
}

/* Fonts */
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Bold Italic';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Italic';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Light Italic';
  src: url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot");
  src: url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf") format("truetype");
  font-weight: light;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global styles */
body {
  background: var(--bg-color);
}

body.disabled {
  overflow: hidden;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.main {
  width: 1140px;
  margin: 45px auto 0 auto;
  background: var(--secondary-bg-color);
}

.main__home {
  position: relative;
  padding: 3px;
  background: -webkit-gradient(linear, right top, left top, from(var(--gradient-one)), to(var(--gradient-two)));
  background: -webkit-linear-gradient(right, var(--gradient-one) 0%, var(--gradient-two) 100%);
  background: -o-linear-gradient(right, var(--gradient-one) 0%, var(--gradient-two) 100%);
  background: linear-gradient(270deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
}

.news {
  padding: 0 0 80px 0;
}

.news__main, .news__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  grid-gap: 3px;
}

.news__wrapper {
  padding: 3px;
  background: -webkit-gradient(linear, right top, left top, from(var(--gradient-one)), to(var(--gradient-two)));
  background: -webkit-linear-gradient(right, var(--gradient-one) 0%, var(--gradient-two) 100%);
  background: -o-linear-gradient(right, var(--gradient-one) 0%, var(--gradient-two) 100%);
  background: linear-gradient(270deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
}

.accent {
  color: var(--accent-color);
}

.image-block {
  margin: 0 auto 80px auto;
  width: 85%;
  height: 330px;
}

.image-block__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
  .main {
    width: 100%;
    margin: 67px 0 0 0;
  }
  .image-block {
    height: 290px;
  }
}

@media screen and (max-width: 991px) {
  .news__main, .news__wrapper {
    grid-auto-rows: 250px;
    grid-gap: 3px;
  }
  .image-block {
    height: 230px;
  }
}

@media screen and (max-width: 768px) {
  .news {
    padding: 0 0 40px 0;
  }
  .news__main, .news__wrapper {
    grid-auto-rows: 150px;
  }
  .image-block {
    width: 99%;
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .main__home {
    padding: 3px 0;
  }
  .news__main, .news__wrapper {
    grid-auto-rows: 110px;
  }
  .news__main {
    margin: 0 3px;
  }
  .image-block {
    height: 150px;
  }
}

/* Header styles */
.header {
  position: relative;
  background: var(--bg-color);
  border-bottom: 1px solid var(--decor);
}

.header__main {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: none;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
}

.header__logo {
  width: 145px;
  height: 51px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-logo--main {
  margin: 45px 0 0 0;
}

.header-logo__mobile {
  display: none;
  margin: 0;
}

.header__img {
  max-width: 100%;
}

.header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 0;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-style: 18px;
  text-transform: uppercase;
  letter-spacing: 0.175em;
}

.header__text {
  position: relative;
  margin: 0 0 0 10px;
}

.header__text::before {
  content: '|';
}

.header__text::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: -15px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    display: none;
  }
  .header-logo__mobile {
    display: block;
  }
  .header-logo__mobile img {
    width: 35%;
    display: block;
    margin: 10px auto;
  }
  .header__logo {
    display: block;
    width: 35%;
  }
  .header__logo img {
    display: block;
  }
}

/* Navigation styles */
.nav__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  z-index: 10;
}

.nav__block--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 70px 0 0 0;
  width: 100%;
  border: none;
  border-top: 1px solid var(--decor);
  border-bottom: 1px solid var(--decor);
  z-index: 10;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list li {
  position: relative;
  margin: 0 22px;
}

.nav__list li a {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed Regular', sans-serif;
  letter-spacing: 0.105em;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.nav__list li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.nav__list li:hover a, .nav__list li.current-menu-item a {
  color: var(--accent-color);
}

.nav__list li:hover::after, .nav__list li.current-menu-item::after {
  right: -18px;
}

.nav-btn--main {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.nav-btn__item {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 15px;
  cursor: pointer;
}

.nav-btn__item--share {
  background: url("../img/share.png");
}

.nav-btn__item--corrupt {
  background: url("../img/corrupt.png");
}

.nav-btn__item--share, .nav-btn__item--corrupt {
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.nav-btn__item--share:hover, .nav-btn__item--corrupt:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.nav_burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav {
    z-index: 10;
  }
  .nav__block {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    top: 0;
    height: 65px;
    background: var(--bg-color);
  }
  .nav__main {
    position: absolute;
    padding: 67px 0 0 0;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background: #000000e6;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    z-index: -1;
  }
  .nav__main.active {
    right: 0;
    top: 0;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .nav__list li {
    display: block;
    margin: 0 0 15px 0;
    text-align: center;
  }
  .nav__list li a {
    display: block;
    font-size: 30px;
  }
  .nav-btn {
    position: absolute;
    left: 0;
  }
  .nav_burger {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5%;
    width: 35px;
    height: 25px;
  }
  .nav_burger::before, .nav_burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .nav_burger::before {
    top: 0;
  }
  .nav_burger::after {
    bottom: 0;
  }
  .nav_burger span {
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .nav_burger.active::before, .nav_burger.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
  }
  .nav_burger.active::before {
    top: 12px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav_burger.active::after {
    bottom: 11px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (max-width: 576px) {
  .nav-btn__item {
    margin: 0 10px;
  }
}

/* Home article styles */
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.article__main {
  background: var(--bg-color);
  color: var(--primary-text-color);
}

.article__main:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__main:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__main:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__main:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__content {
  padding: 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.article__link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.article__link:hover {
  color: var(--accent-color);
}

.article__img {
  min-width: 50%;
  height: 100%;
}

.article__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__img--sm {
  height: 50%;
}

.article__title {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Roboto Condensed Bold', sans-serif;
  font-size: 36px;
  letter-spacing: 0.045em;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.article__title--sm {
  margin: 0 0 7px 0;
  text-transform: none;
  font-family: 'Roboto Medium', sans-serif;
  font-size: 24px;
  letter-spacing: 0;
}

.article__description {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Light', sans-serif;
  font-size: 18px;
  line-height: 20px;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.article__heading {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 18px;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}

.article__heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../img/triangle_w.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.article__heading:hover {
  color: var(--primary-text-color);
}

.article__heading:hover::before {
  left: -18px;
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  width: 85%;
  margin: 0 auto 20px auto;
  color: var(--secondary-text-color);
  border-top: 1px solid var(--decor-light);
}

.articles__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.articles__link:hover {
  color: var(--accent-color);
}

.articles__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.articles__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  position: relative;
  padding: 0 0 0 30px;
}

.articles__title {
  font-family: 'PT Serif', sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.045em;
}

.articles__published {
  position: absolute;
  bottom: 5px;
  left: auto;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 14px;
  letter-spacing: 0.045em;
  line-height: 50px;
}

@media screen and (max-width: 991px) {
  .article__title {
    font-size: 24px;
  }
  .article__title--sm {
    font-size: 16px;
  }
  .article__description {
    font-size: 14px;
    line-height: 14px;
  }
  .article__heading {
    font-size: 14px;
  }
  .articles__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .article__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
  }
  .article__main:nth-child(1), .article__main:nth-child(2), .article__main:nth-child(3), .article__main:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .article__main:nth-child(4) .article__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .article__main:nth-child(4) .article__title {
    text-align: left;
  }
  .article__main:nth-child(4) .article__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .article__link-img {
    width: 100%;
    height: 100%;
  }
  .article__img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .article__img--sm {
    height: 100%;
  }
  .article__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .articles {
    width: 99%;
  }
}

@media screen and (max-width: 576px) {
  .article__main {
    grid-auto-rows: 110px;
  }
  .article__content {
    padding: 0 5px;
  }
  .article__title {
    font-size: 14px;
  }
  .article__description {
    font-size: 12px;
  }
  .article__heading {
    font-size: 12px;
    bottom: 3px;
    right: 3px;
  }
  .articles {
    grid-auto-rows: 110px;
    margin: 0 auto 5px auto;
  }
  .articles__content {
    padding: 0 0 0 10px;
  }
  .articles__title {
    font-size: 14px;
    line-height: 14px;
  }
  .articles__published {
    left: auto;
    font-size: 12px;
    line-height: 12px;
  }
}

/* Category styles */
.single-article {
  color: var(--secondary-text-color);
  font-size: 24px;
  letter-spacing: 0.045em;
}

.single-article__heading {
  position: relative;
  display: inline-block;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  z-index: 1;
}

.single-article__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 110%;
  background: transparent;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  -webkit-transform: skewX(35deg);
      -ms-transform: skewX(35deg);
          transform: skewX(35deg);
  z-index: -1;
}

.single-article__title {
  font-family: 'PT Serif', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

.single-article__quote {
  font-family: 'PT Serif', sans-serif;
  font-style: italic;
  color: var(--decor-light);
}

.single-article__published {
  margin: 0 0 20px 0;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 24px;
}

.single-article img {
  width: 100%;
}

.single-article p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 1140px) {
  .single-article {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .single-article__heading {
    font-size: 30px;
    line-height: 35px;
  }
  .single-article__title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
  }
  .single-article__published {
    font-size: 18px;
  }
  .single-article p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Category styles */
.category {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  font-family: 'Roboto Condensed Regular', sans-serif;
  color: var(--secondary-text-color);
}

.category__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.105em;
}

.category__description {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .category {
    width: 80%;
  }
}

/* Quote styles */
.quote {
  padding: 50px 0;
}

.quote__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__title, .quote__text {
  margin: 0 22px;
}

.quote__title {
  font-family: 'Roboto Condensed Bold Italic', sans-serif;
  font-size: 60px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.045em;
}

.quote__text {
  max-width: 40%;
  font-family: 'Roboto Condensed Italic', sans-serif;
  font-size: 24px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .quote {
    padding: 20px 0;
  }
  .quote__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quote__title, .quote__text {
    margin: 0;
    min-width: 100%;
    text-align: center;
  }
  .quote__title {
    font-size: 40px;
  }
  .quote__text {
    font-size: 16px;
  }
}

/* Game styles */
.game__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__title {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: 'Roboto Condensed Bold Italic', sans-serif;
  font-size: 60px;
  font-style: italic;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.045em;
}

.game__elems {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

.game__button {
  margin: 0 0 0 32px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-family: 'Roboto Condensed Light Italic', sans-serif;
  font-style: italic;
  font-size: 24px;
  cursor: pointer;
}

.game__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../img/triangle_b.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.game__button:hover::after {
  right: -10px;
}

.game__icon {
  margin: 0 0 0 70px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/corrupt_b.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .game {
    padding: 20px 0;
  }
  .game__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game__title {
    margin: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    font-size: 38px;
  }
  .game__elems {
    height: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game__button {
    margin: 15px 0;
  }
  .game__icon {
    margin: 0;
  }
}

/* Footer styles */
.footer {
  padding: 75px 0;
  background: var(--bg-color);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__img {
  width: 292px;
  height: 62px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__ist {
  margin: 0 5px 0 0;
  color: var(--primary-text-color);
  text-align: right;
  text-transform: uppercase;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 18px;
  letter-spacing: 0.105em;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list li {
  margin: 0 0 30px 0;
}

.footer__list li a {
  position: relative;
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 18px;
  letter-spacing: 0.105em;
}

.footer__list li a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.footer__list li a:hover {
  color: var(--accent-color);
}

.footer__list li a:hover::after {
  right: -18px;
}

.footer__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer__icon--share {
  background: url("../img/share.png");
}

.footer__icon--corrupt {
  margin: 0 0 0 40px;
  background: url("../img/corrupt.png");
}

.footer__icon--share, .footer__icon--corrupt {
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.footer__icon--share:hover, .footer__icon--corrupt:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 567px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo, .footer__menu, .footer__share {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }
  .footer__ist {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */